// @variables
$fontfamily:			sans-serif;
$fontfamilyCond:		sans-serif;

$bodycolor:				#fff;
$textcolor:				#000;

// breakpoints
$break_tablet:			870px;
$break_mobile:			600px;
$break_small:			460px;
$break_tiny:			360px;