/*
* @updated		06/2014
* @author		Trevor Morris / Surface
* @project		XXXX
* --------------------------------------------------------------------------------------------------*/
@import 'vendor/bourbon/bourbon';

@import '_config';
@import '_mixins';
@import '_extend';

div.postbox .tmce-active iframe {
	background-color: #fff;
}

address.adr {
	font-style: normal;
}
	address.adr span {
		display: block;
	}
		address.adr span span {
			display: inline;
		}
	address.adr .geo {
		display: none;
	}

#cpt_info_box {
	display: none;
}

.form-field {
	.mupload_img_holder {
		img {
			height: auto !important;
		}
	}
}