/**
* =header
* @section Header
* --------------------------------------------------------------------------------------------------
*/
#header {
	@include position(relative, 0px 0px 0 0px); z-index: 1000;
	min-width: 320px;
	background: #fff;
	border: 0 solid #000;
	@include clearfix;
	
	html.js & {
		position: fixed;
	}
	html.lt-ie9 & {
		position: relative;
	}

	.inner {
		@include clearfix;
		@extend %inner;
		position: relative;
		padding-top: 30px;
		
		html.lt-ie9 & {
			width: 960px;
		}
	}

} // end of #header