/**
* =navigation
* @section Navigation
* --------------------------------------------------------------------------------------------------
*/
.nav {
	@include position(relative); 
	@include clearfix;
	
	.inner {
		@extend %inner;
		@include position(relative); z-index: 101;
		
		html.lt-ie9 & {
			width: auto;
		}
	}
	
	ul,
	ol,
	li {
		@extend %reset-list;
	}
	
	ul {
		@include position(relative);
	}
	
} // end of .nav

#nav {
	
	.inner {
		
		ul {
			
			li {
				
				a {
					
				}
			}
		}
	}
	
} // end of #nav

#nav-mobile {
	@include position(fixed, 0px 0 0 0px); z-index: 99; overflow: hidden; overflow-y: auto;
	display: none;
	min-height: 100%; height: 100%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
	
	body.nav-shown &,
	& {
		display: block;
	}
	
	html.lt-ie9 & {
		display: none !important;
	}
	
	a {
		outline: 0;
	}
	
	ul {
		@include position(static, 0 0 0 0);
		display: block;
		margin: 0; padding: 0;
		
		li {
			
			a {
				
			}
		}
	}
}

#toggle-nav {
	@include position(absolute, 27px 0 0 20px); z-index: 99;
	display: none;
	padding: 10px;
	font-size: 30px; color: #000; text-decoration: none;
	
	@include breakpoint('tablet') {
		display: block;
	}
	@include breakpoint('small') {
		left: 10px;
	}
} // end of #toggle-nav